:root {
  --background-color: #000;
  --text-color: #cfcfcf;
  --label-color: #999;
  --text-padding: 1ch;
}

body {

}

body,
.node-editor {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Consolas", "Courier New", monospace;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.node {
  display: grid;
  padding: 2px;
  grid-template:
    'code acc'
    'code bak'
    'code last'
    'code mode'
    'code idle'
  ;
  grid-template-columns: auto 6ch;
  gap: 2px;
}

.node,
.node-code,
.node-acc,
.node-bak,
.node-last,
.node-mode,
.node-idle {
  border: 1px solid #fff;
}

.node-code,
.node-acc,
.node-bak,
.node-last,
.node-mode,
.node-idle {
  padding: var(--text-padding);
}

.node-acc,
.node-bak,
.node-last,
.node-mode,
.node-idle {
  text-align: center;
}

.node-code {
  grid-area: code;
  position: relative;
  padding: 0;
}

.node-acc {
  grid-area: acc;
}

.node-bak {
  grid-area: bak;
}

.node-last {
  grid-area: last;
}

.node-mode {
  grid-area: mode;
}

.node-idle {
  grid-area: idle;
}

.node-label {
  color: var(--label-color);
}

.node-editor {
  resize: none;
  position: absolute;
  inset: 0;
  outline: none;
  padding: var(--text-padding);
}
