:root {
  --background-color: #000;
  --main-color: #a9b7c6; /* #cfcfcf */
  --caret-color: var(--main-color);
  --selection-color: color-mix(in srgb, var(--background-color) 70%, var(--main-color));
  --heading-color: #77B767; /* #8997a6 */
  --label-color: #fff;
  --op-color: #ffc66d;
  --var-color: #9876aa;
  --comment-color: #629755;
  --border-color: var(--main-color); /* #999 */
  --text-padding: 1ch;
  --error-underline-height: 3px;
  --error-underline-color: #a00;
}

body {

}

body,
.node-editor {
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: "Consolas", "Courier New", monospace;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.node {
  display: grid;
  padding: 2px;
  grid-template:
    'code acc'
    'code bak'
    'code last'
    'code mode'
    'code idle'
  ;
  grid-template-columns: auto 6ch;
  gap: 2px;
}

.node,
.node-code,
.node-acc,
.node-bak,
.node-last,
.node-mode,
.node-idle {
  border: 1px solid var(--border-color);
}

.node-code,
.node-acc,
.node-bak,
.node-last,
.node-mode,
.node-idle {
  padding: var(--text-padding);
}

.node-acc,
.node-bak,
.node-last,
.node-mode,
.node-idle {
  text-align: center;
}

.node-code {
  grid-area: code;
  position: relative;
  padding: 0;
}

.node-acc {
  grid-area: acc;
}

.node-bak {
  grid-area: bak;
}

.node-last {
  grid-area: last;
}

.node-mode {
  grid-area: mode;
}

.node-idle {
  grid-area: idle;
}

.node-heading {
  color: var(--heading-color);
}

.node-editor {
  resize: none;
  position: absolute;
  inset: 0;
  outline: none;
  padding: var(--text-padding);
  line-height: calc(1em + var(--error-underline-height));
  caret-color: var(--caret-color);
}

.node-editor *::selection {
  background-color: var(--selection-color);
}

.code-error {
  position: relative;
}

.code-error::before {
  content: '';
  pointer-events: none;
  position: absolute;
  inset: 0 0 -1px;
  border-bottom: var(--error-underline-height) solid var(--error-underline-color);
}

.code-op {
  color: var(--op-color);
}

.code-label {
  color: var(--label-color);
}

.code-var {
  color: var(--var-color);
}

.code-comment {
  color: var(--comment-color);
}
